<h1>Newest Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= render 'post', post: post %>
    </li>
  <% end %>
</ul>

<% if current_user.author %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
