@media screen and (max-width: 37.5em) {
  p, blockquote {
    font-size: 1.2em;
  }  
  
  #logo-container {
    padding: 2em 1em;
  }

  #giant-brand {
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  #menu-toggle {
    display: block;
  }
  
  #nav-main {
    overflow: hidden;
    max-height: 0px;
    
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
  }
  
  #nav-main ul li {
    float: none;
  }
  
  #nav-main > ul > li:first-child {
    margin-left: 0;
  }
  
  #nav-main ul li a:active {
    text-decoration: underline;
  }
  
  #nav-main li ul {
    position: relative;
    display: block;
    background: #222;
  }
  
  #nav-main li ul li {
    margin-left: 1em;
  }
  
  #wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    flex-flow: column;
  }
  
  #section-main {
    box-sizing: border-box;
    width: 100%;
  }
  
  #aside-main {
    margin-left: 0;
  }
  
  #footer-main img {
    width: 6em;
    height: 6em;
  }
  
  #footer-main > div {
    padding: 0 1em;
  }
  
  .posts > li:not(:first-child) {
    margin-top: 4em;
  }
  
  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 50em) {
  #nav-main > ul > li:first-child > a {
    /*padding-left: 0;*/
  }
}

@media screen and (min-width: 37.5625em) {
  
}
