<header id="header-main">
  <div id="logo-container" class="clearfix">
    <h1 id="giant-brand" class="">Text Blog</h1>
    <div id="menu-toggle">
      <%= image_tag 'menu-black.png', class: 'btn-nav' %>
    </div>
  </div>
  <nav id="nav-main">
    <ul class="clearfix">
      <li class="has-drop-nav">
        <a href="#" class="">sit</a>
        <!--<ul class="drop-nav">
          <li class="first"><a href="#" class="first">amet</a></li>
          <li class="last"><a href="#" class="last">consectetur</a></li>
          <li class="last"><a href="#" class="last">turpis</a></li>
        </ul>-->
      </li>
      
      <li class="has-drop-nav">
        <a href="#">adipiscing</a>
        <ul class="drop-nav">
          <li class="first"><a href="#" class="first">elit</a></li>
          <li class="last"><a href="#" class="last">Quisque</a></li>
          <li class="last"><a href="#" class="last">Nullam</a></li>
        </ul>
      </li>
      
      <li class="has-drop-nav">
        <a href="#">molestie</a>
        <ul class="drop-nav">
          <li class="first"><a href="#" class="first">vehicula</a></li>
          <li class=""><a href="#" class="">feugiat</a></li>
          <li class="last"><a href="#" class="last">justo</a></li>
        </ul>
      </li>
      
      <li class="has-drop-nav">
        <a href="http://www.harvard.edu/on-campus">viverra</a>
        <ul class="drop-nav">
          <li class="first"><a href="#" class="first">neque</a></li>
          <li class=""><a href="#" class="">Curabitur</a></li>
          <li class="last"><a href="#" class="last">tortor</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <!--<form role="search" id="searchArea" class="search-area" method="get" action="http://www.harvard.edu/searches/">
    <label for="siteSearch">
      <span class="is-visually-hidden">
        Search:
      </span>
    </label>

    <input type="search" name="searchtext" id="searchSite" class="input-search" aria-label="search" placeholder="What can we help you find?">
    <button type="button" class="btn--mobile-site-search">
      <span class="is-visually-hidden">
        Open Search
      </span>
    </button>
  </form>-->
</header>
